<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
<parameter name="URL" value="http://www.demo.guru99.com/V4/"></parameter>
  <test name="TestLoginPage">
  <classes>
  <class name="bankAut.Guru99Bank_ext.SS1_Login"></class>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
